.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primare-light);
  transform: translateX(100%);
  z-index: 1000;

  &.is-open {
    transform: translateX(0);
  }
}